.side-menu {
    width: 280px;
    height: 100%;
    min-height: 100vh;
    position: relative;
    background-color: #111111;
    padding: 1.5rem 1rem;
}
.side-content {
    width: calc(100vw - 280px);
    height: 100%;
    min-height: 100vh;
    position: relative;
}